<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-country-input (onEnter)="search($event)" (onDebounce)="suggestions($event)" placeholder="Buscar País..."></app-country-input>
    </div>
  </div>
  <hr />
</div>
<div class="animate__animated animate__fadeIn animate__faster alert alert-danger" *ngIf="hasError">
  No se encontro nada con el término {{ word }}.
</div>

<div class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>


