<h2>Por País</h2>
<hr />
<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="search()">
      <input type="text" name="word" class="form-control" [(ngModel)]="word" placeholder="Buscar país">
    </form>
  </div>
</div>
<hr />

<div class="alert alert-danger">
  No se encontro nada con el término.
</div>

<div class="row">
  <div class="col">
    <table class="table-hover">
      <thead>
        <tr>
          <th>Numeral</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bandera</td>
          <td>Nombre</td>
          <td>1234</td>
          <td>
            <a href="/pais/españa" class="btn btn-link">Ver...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>